.task-container {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #505050;
    padding: 5px 0;

    .date {
        font-size: 12px;
        color: #ccccccb0;
        margin-bottom: 5px;
    }
}
