.popup-container {
    position: fixed;
    top: 30px;
    right: 50%;
    transform: translateX(50%);
    border-radius: 10px;
    padding: 30px 20px;
    background: #000;
    box-shadow: 0 0 5px 1px #a4f1a8;
    color: #ffffff;
    z-index: 999;
    animation-name: down;
    animation-duration: 0.05s;
}

@keyframes down {
    0% {
        top: -100px;
    }
    100% {
        top: 30px;
    }
}
