<!-- <div class="container">
    <div
        *ngFor="let month of monthArr"
        #appMonth
        app-month
        class="month"
        [class.old]="currentMonth > month.id"
        [monthName]="month.title"
        [monthIndex]="month.id"
    ></div>
</div> -->
<!-- <div class="container">
    <ng-template appCarousel
        [appCarouselOf]="monthArr"
        [customIndex]="currentMonth"
        let-month
        let-next="next"
        let-prev="prev">
        <button class="prev" (click)="prev()">Пред</button>
        <div #appMonth
            app-month
            class="month"
            [class.old]="currentMonth > month.id"
            [monthName]="month.title"
            [monthIndex]="month.id"
        ></div>
        <button class="next" (click)="next()">След</button>
    </ng-template>
</div> -->
<div class="container">
    <ng-container *appCarousel="let month; of monthArr; customIndex currentMonth; let next = next; let prev = prev;">
        <button class="prev" (click)="prev()">Пред</button>
        <div #appMonth
            app-month
            class="month"
            [class.old]="currentMonth > month.id"
            [monthName]="month.title"
            [monthIndex]="month.id"
        ></div>
        <button class="next" (click)="next()">След</button>
    </ng-container>
</div>
