<mat-card ngSkipHydration class="demo-inline-calendar-card">
    <mat-calendar #calendar [(selected)]="selected" (_userSelection)="check()"></mat-calendar>
</mat-card>
<div class="create-task-container" [formGroup]="textareaForm" onsubmit="submit()">
    <label for="create">{{ selected() ? (selected() | date:'dd MMMM YYYY':'UTC'): 'Выберете дату'}}</label>
    <textarea formControlName="taskText"
        placeholder="Вводим сюда текст и нажимаем Enter"
        name="create"
        id="create"
        (keydown.enter)="submit()"></textarea>
</div>
