:host {
    color: #ffffffdc;

    .container {
        width: 400px;
        padding: 20px;
        background: #333;
        height: 100%;
        box-sizing: border-box;
        position: relative;
    }

    .pagination-container {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 25px;
        align-items: center;
        justify-content: center;
        user-select: none;

        .pageCount {
            color: #858585;

            &.active {
                font-weight: bold;
                color: #ffffff;
            }
        }

        .pagination-prev svg,
        .pagination-next svg {
            width: 25px;
            height: 25px;

            path {
                stroke: #8a8a8a
            }

            &:hover {

                path {

                    stroke: #ffffff
                }
            }
        }

        .pagination-prev svg{
            transform: rotateY(180deg);
        }
    }
}
